.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.posts-enter-active, .posts-leave-active {
  transition: all 1s;
}

.posts-enter, .posts-leave-active {
  opacity: 0;
}
